
.headerShade
{
  height: 25px;
  background-image: linear-gradient(#212529,rgb(122, 122, 122));
}
.Headings
{
  font-family: 'Comic Neue', cursive;
  font-family: 'Pacifico', cursive;
}
.ubuntu
{
  font-family: 'Comic Neue', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
}
.logo
{
  font-family: 'Comic Neue', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Ubuntu Condensed', sans-serif;
}


